{"swagger":"2.0","info":{"version":"1.1.29.0"},"host":"data-v1.api.epay.eu:443","schemes":["https"],"paths":{"/currencies":{"get":{"summary":"List currencies","description":"Get a list of all currencies.","operationId":"EPay.Webservice.Data.V1.DataService.listcurrencies","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.Currency.listcurrenciesresponse"}}}}},"/currencies/{currency}":{"get":{"summary":"Get currency details","description":"Get the details of a currency by its ISO 4217 alphabetic code.","operationId":"EPay.Webservice.Data.V1.DataService.getcurrency","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"currency","in":"path","description":"An ISO 4217 alphabetic currency code.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.Currency.getcurrencyresponse"}}}}},"/paymenttypes":{"get":{"summary":"List payment types","description":"Get a list of all available payment types.","operationId":"EPay.Webservice.Data.V1.DataService.listpaymenttypes","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.listpaymenttypesresponse"}}}}},"/responsecodes":{"get":{"summary":"List response codes","description":"Get a list of all response codes, along with their source as well as enduser and merchant-friendly text labels, respectively.","operationId":"EPay.Webservice.Data.V1.DataService.listresponsecodes","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ResponseCodes.listresponsecodesresponse"}}}}},"/responsecodes/{source}":{"get":{"summary":"List response codes from specified source","description":"Get a list of all response codes from a specified source, along with enduser and merchant-friendly text labels, respectively.","operationId":"EPay.Webservice.Data.V1.DataService.listresponsecodesbysource","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"source","in":"path","description":"The source of the response code.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ResponseCodes.listresponsecodesresponse"}}}}},"/responsecodes/{source}/{actioncode}":{"get":{"summary":"Get response code details","description":"Get the details of a response code from a specified source via the action code.","operationId":"EPay.Webservice.Data.V1.DataService.getresponsecode","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"source","in":"path","description":"The source of the response code.","required":true,"type":"string"},{"name":"actioncode","in":"path","description":"The action code.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ResponseCodes.getresponsecoderesponse"}}}}}},"definitions":{"EPay.Webservice.Models.V1.Common.currency":{"properties":{"code":{"description":"The ISO 3166-1 alpha-3 representation of the currency","type":"string","example":"SEK","uniqueItems":false},"number":{"description":"The ISO 3166-1 numeric-3 representation of the currency","type":"string","example":"752","uniqueItems":false},"minorunits":{"description":"Number of minor units for the currency, that is, the number of significant decimal places","type":"integer","format":"int32","example":"2","uniqueItems":false},"name":{"description":"The name of the currency","type":"string","example":"Svensk krona","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.currency"},"EPay.Webservice.Models.V1.Common.feedata":{"properties":{"ranges":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.feedatarange"},"uniqueItems":false},"common":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.input"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.feedata"},"EPay.Webservice.Models.V1.Common.feedatarange":{"properties":{"range":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.input"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.feedatarange"},"EPay.Webservice.Models.V1.Common.input":{"properties":{"key":{"description":"The specified key","type":"string","example":"MerchantNumberEvry","uniqueItems":false},"value":{"description":"The specified value","type":"string","example":"12345678","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.input"},"EPay.Webservice.Models.V1.Common.paging":{"properties":{"lastevaluatedkey":{"description":"The last evaluated key. For next page set exclusivestartkey to this value","type":"string","uniqueItems":false},"itemsreturned":{"description":"Number of items returned in the list","type":"integer","format":"int64","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.paging"},"EPay.Webservice.Models.V1.Common.Response.action":{"properties":{"source":{"description":"Origin of the action code. If this begins with ePay the origin is ePay's system.","type":"string","example":"Nets","uniqueItems":false},"code":{"description":"The response code from the source","type":"string","uniqueItems":false},"type":{"description":"Type of the action code (e.g. generalerror)","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.action"},"EPay.Webservice.Models.V1.Common.Response.message":{"properties":{"enduser":{"description":"Message to show the end user","type":"string","uniqueItems":false},"merchant":{"description":"Message to show the merchant. This may not be shown to the end user","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.message"},"EPay.Webservice.Models.V1.Common.Response.meta":{"properties":{"result":{"description":"Result of the request. True means success, false means error.","type":"boolean","uniqueItems":false},"message":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.message"},"action":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.action"},"paging":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.paging"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.meta"},"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.acquirerconfiguration":{"properties":{"paymenttypefees":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.paymenttypefee"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.acquirerconfiguration"},"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.getacquirerconfigurationresponse":{"properties":{"acquirerconfiguration":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.acquirerconfiguration"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.getacquirerconfigurationresponse"},"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.paymenttypefee":{"properties":{"feecalculatorname":{"type":"string","uniqueItems":false},"order":{"type":"integer","format":"int32","uniqueItems":false},"paymenttypeid":{"type":"integer","format":"int32","uniqueItems":false},"feedata":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.feedata"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.AcquirerConfiguration.paymenttypefee"},"EPay.Webservice.Models.V1.Data.Response.Country.country":{"properties":{"capital":{"description":"The capital city of the country","type":"string","example":"Stockholm","uniqueItems":false},"commonname":{"description":"The name of the country","type":"string","example":"Sweden","uniqueItems":false},"isoa3code":{"description":"The ISO Alpha-3 code of the country","type":"string","example":"SWE","uniqueItems":false},"isoa2code":{"description":"The ISO Alpha-2 code of the country","type":"string","example":"SE","uniqueItems":false},"currency":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.Country.currency"},"tld":{"description":"The top level domain of the country","type":"string","example":"se","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.Country.country"},"EPay.Webservice.Models.V1.Data.Response.Country.currency":{"properties":{"code":{"description":"The ISO-4217 alpha-3 code for the currency","type":"string","example":"SEK","uniqueItems":false},"number":{"description":"The ISO-4217 number for the currency","type":"string","example":"752","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.Country.currency"},"EPay.Webservice.Models.V1.Data.Response.Country.listcountriesresponse":{"properties":{"countries":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.Country.country"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.Country.listcountriesresponse"},"EPay.Webservice.Models.V1.Data.Response.Currency.getcurrencyresponse":{"properties":{"currency":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.currency"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.Currency.getcurrencyresponse"},"EPay.Webservice.Models.V1.Data.Response.Currency.listcurrenciesresponse":{"properties":{"currencies":{"description":"A list of currencies.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.currency"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.Currency.listcurrenciesresponse"},"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.agreementdatatype":{"properties":{"key":{"type":"string","uniqueItems":false},"displayname":{"type":"string","uniqueItems":false},"type":{"type":"string","uniqueItems":false},"description":{"type":"string","uniqueItems":false},"isadvancedsetting":{"type":"boolean","uniqueItems":false},"defaultvalue":{"type":"string","uniqueItems":false},"examplevalue":{"type":"string","uniqueItems":false},"group":{"type":"string","uniqueItems":false},"validation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.validation"},"possiblevalues":{"type":"array","items":{"$ref":"#/definitions/System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.agreementdatatype"},"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.getagreementdatatyperesponse":{"properties":{"agreementdatatypes":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.agreementdatatype"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.getagreementdatatyperesponse"},"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.validation":{"properties":{"required":{"type":"boolean","uniqueItems":false},"allowemptystrings":{"type":"boolean","uniqueItems":false},"maximumlength":{"type":"integer","format":"int32","uniqueItems":false},"minimumlength":{"type":"integer","format":"int32","uniqueItems":false},"minimum":{"type":"number","format":"double","uniqueItems":false},"maximum":{"type":"number","format":"double","uniqueItems":false},"url":{"type":"boolean","uniqueItems":false},"regularexpression":{"type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.GetAgreementDataType.validation"},"EPay.Webservice.Models.V1.Data.Response.GetPaymentTypeFeeDataType.getpaymenttypefeedatatyperesponse":{"properties":{"datatypelist":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.input"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.GetPaymentTypeFeeDataType.getpaymenttypefeedatatyperesponse"},"EPay.Webservice.Models.V1.Data.Response.ListAcquirer.acquirer":{"properties":{"name":{"description":"Unique name of the acquirer","type":"string","example":"Test","uniqueItems":false},"displayname":{"description":"The display name of the acquirer","type":"string","example":"Test Acquirer","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListAcquirer.acquirer"},"EPay.Webservice.Models.V1.Data.Response.ListAcquirer.listacquirerresponse":{"properties":{"acquirers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListAcquirer.acquirer"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListAcquirer.listacquirerresponse"},"EPay.Webservice.Models.V1.Data.Response.ListFeeCalculator.feecalculator":{"properties":{"name":{"description":"Unique name of the fee/surcharge calculator","type":"string","example":"PercentageWiseFee","uniqueItems":false},"description":{"description":"The description of the calculator","type":"string","example":"PercentageWise fee calculation","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListFeeCalculator.feecalculator"},"EPay.Webservice.Models.V1.Data.Response.ListFeeCalculator.listfeecalculatorsresponse":{"properties":{"feecalculator":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListFeeCalculator.feecalculator"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListFeeCalculator.listfeecalculatorsresponse"},"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.listpaymenttypesresponse":{"properties":{"paymentcollections":{"description":"A list of payment collections.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentcollection"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.listpaymenttypesresponse"},"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentcollection":{"properties":{"id":{"description":"The payment collection ID","type":"integer","format":"int32","example":1,"uniqueItems":false},"paymentgroups":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentgroup"},"uniqueItems":false},"name":{"description":"The payment collection (system) name","type":"string","example":"PAYMENTCARD","uniqueItems":false},"displayname":{"description":"The payment collection display name","type":"string","example":"Payment card","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentcollection"},"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentgroup":{"properties":{"id":{"description":"The payment group ID","type":"integer","format":"int32","example":3,"uniqueItems":false},"paymenttypes":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymenttype"},"uniqueItems":false},"name":{"description":"The payment group (system) name","type":"string","example":"MASTERCARD","uniqueItems":false},"displayname":{"description":"The payment group display name","type":"string","example":"MasterCard","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymentgroup"},"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymenttype":{"properties":{"id":{"description":"The ID of the payment type","type":"integer","format":"int32","example":6,"uniqueItems":false},"groupid":{"description":"The group ID of the payment type","type":"integer","format":"int32","example":3,"uniqueItems":false},"name":{"description":"The (system) name of the payment type","type":"string","example":"MASTERCARD","uniqueItems":false},"displayname":{"description":"The display name of the payment type","type":"string","example":"MasterCard (Debit / Domestic)","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ListPaymentTypes.paymenttype"},"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.getresponsecoderesponse":{"properties":{"responsecode":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ResponseCodes.responsecode"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.getresponsecoderesponse"},"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.listresponsecodesresponse":{"properties":{"responsecodes":{"description":"A list of response codes.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Data.Response.ResponseCodes.responsecode"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.listresponsecodesresponse"},"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.responsecode":{"properties":{"actioncode":{"description":"The response code (only unique when combined with actionsource)","type":"string","uniqueItems":false},"source":{"description":"Source of the response code. The source can relate to both internal and external systems","type":"string","uniqueItems":false},"enduserlabel":{"description":"Text/label allowed to present to the enduser. If empty check parent for enduser label","type":"string","uniqueItems":false},"merchantlabel":{"description":"Text/label allowed to present to the merchant. If empty check parent for merchant label","type":"string","uniqueItems":false},"parentactioncode":{"description":"The hierachical parent response code","type":"string","uniqueItems":false},"parentsource":{"description":"The hierachical parent source of the response code","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Data.Response.ResponseCodes.responsecode"},"System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]":{"properties":{"Key":{"type":"string","uniqueItems":false},"Value":{"type":"string","uniqueItems":false}},"type":"object","format":"System.Collections.Generic.KeyValuePair`2[[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.String, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]"}}}