{"swagger":"2.0","info":{"version":"1.1.29.0"},"host":"merchant-v1.api.epay.eu:443","schemes":["https"],"paths":{"/paymenttypefees":{"get":{"summary":"Get payment type fee and security setup","description":"Get a list of payment types along with their fee and security setup.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.listpaymenttypefees","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.listpaymenttypefeesresponse"}}}}},"/paymenttypes":{"get":{"summary":"List payment types","description":"Get a collection of groups of payment types to get an overview of the payment types accepted in your Checkout.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.listpaymenttypes","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"currency","in":"query","description":"Match an ISO 4271 alphabetic currency code.","required":true,"type":"string"},{"name":"amount","in":"query","description":"Match a fee amount.","required":true,"type":"string"},{"name":"cardnumberprefix","in":"query","description":"The first 6 numbers of a card number is queried in our BIN/IIN database and matches applicable payment types.","required":true,"type":"string"},{"name":"acquirername","in":"query","description":"Match payment types by acquirer name.","required":true,"type":"string"},{"name":"paymenttypeid","in":"query","description":"Match a payment type ID.","required":true,"type":"string"},{"name":"paymentgroupid","in":"query","description":"Match a payment group ID.","required":true,"type":"string"},{"name":"paymentcollectionid","in":"query","description":"Match a payment collection ID.","required":true,"type":"string"},{"name":"paymentcollectiontypes","in":"query","description":"Types of payment collections to include.","required":true,"type":"string"},{"name":"supports","in":"query","description":"Criterion the payment types should support.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentType.listpaymenttypesresponse"}}}}},"/transactions":{"get":{"summary":"List transactions","description":"Get a list of transactions. Optionally, the transactions can be filtered by a filters query. Note: Pagination is implemented by providing the meta.paging.lastevaluatedkey property from the response to the next request via the exclusivestartkey query parameter. When no more transactions are available, the meta.paging.itemsreturned property in the response will show a number less than the pagesize request query parameter.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.listtransactions","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"exclusivestartkey","in":"query","description":"The next key to start from.","required":true,"type":"string"},{"name":"pagesize","in":"query","description":"The maximum number of items.","required":true,"type":"string"},{"name":"filters","in":"query","description":"A filter query string.","required":true,"type":"string"},{"name":"engine","in":"query","description":"Which engine to retrieve results from.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.listtransactionsresponse"}}}}},"/transactions/{transactionid}":{"get":{"summary":"Get transaction details","description":"Get the details of a transaction by its ID.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.gettransaction","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"The transaction ID.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.gettransactionresponse"}}}}},"/transactions/{transactionid}/invoices":{"get":{"summary":"Get transaction invoices and credit notes","description":"Get a list of invoices and credit notes for a transaction by its ID.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.listinvoices","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"The transaction ID.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invoice.listinvoicesresponse"}}}}},"/transactions/{transactionid}/invoices/{transactionoperationid}":{"get":{"summary":"Get invoice or credit note","description":"Get an invoice or a credit note for a transaction operation by its ID. If the operation is crediting then a credit note will be returned, otherwise an invoice object will be returned.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.getinvoice","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"The transaction ID.","required":true,"type":"string"},{"name":"transactionoperationid","in":"path","description":"The transaction operation ID.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invoice.getinvoiceresponse"}}}}},"/transactions/{transactionid}/transactionoperations":{"get":{"summary":"Get transaction operation history","description":"Get a list of operations performed on a transaction by its ID.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.listtransactionoperations","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"The transaction ID.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.listtransactionoperationsresponse"}}}}},"/transactions/{transactionid}/transactionoperations/{transactionoperationid}":{"get":{"summary":"Get transaction operation details","description":"Get the details of an operation performed on a transaction by the transaction ID and the ID of the operation.","operationId":"EPay.Webservice.Merchant.V1.MerchantService.gettransactionoperation","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"The transaction ID.","required":true,"type":"string"},{"name":"transactionoperationid","in":"path","description":"The transaction operation ID.","required":true,"type":"string"}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.gettransactionoperationresponse"}}}}}},"definitions":{"EPay.Webservice.Models.V1.Common.currency":{"properties":{"code":{"description":"The ISO 3166-1 alpha-3 representation of the currency","type":"string","example":"SEK","uniqueItems":false},"number":{"description":"The ISO 3166-1 numeric-3 representation of the currency","type":"string","example":"752","uniqueItems":false},"minorunits":{"description":"Number of minor units for the currency, that is, the number of significant decimal places","type":"integer","format":"int32","example":"2","uniqueItems":false},"name":{"description":"The name of the currency","type":"string","example":"Svensk krona","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.currency"},"EPay.Webservice.Models.V1.Common.distribution":{"required":["method"],"properties":{"method":{"description":"The distribution method used for the invoice(s) to the customer.","type":"string","example":"Paper","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.distribution"},"EPay.Webservice.Models.V1.Common.domain":{"required":["name"],"properties":{"name":{"description":"A DNS safe domain name","type":"string","example":"example.com","uniqueItems":false},"status":{"description":"Status of the domain","type":"string","example":"active","uniqueItems":false},"locked":{"description":"If the domain is locked it can't be edited","type":"boolean","example":"true","uniqueItems":false},"type":{"type":"string","example":"production","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.domain"},"EPay.Webservice.Models.V1.Common.feedata":{"properties":{"ranges":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.feedatarange"},"uniqueItems":false},"common":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.input"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.feedata"},"EPay.Webservice.Models.V1.Common.feedatarange":{"properties":{"range":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.input"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.feedatarange"},"EPay.Webservice.Models.V1.Common.input":{"properties":{"key":{"description":"The specified key","type":"string","example":"MerchantNumberEvry","uniqueItems":false},"value":{"description":"The specified value","type":"string","example":"12345678","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.input"},"EPay.Webservice.Models.V1.Common.invoicecustomer":{"properties":{"emailaddress":{"description":"The customers e-mail","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"phonenumber":{"description":"The customers phone number","type":"string","example":"+46(0) 10 10 66 000","uniqueItems":false},"firstname":{"description":"First name of the customer","type":"string","example":"John","uniqueItems":false},"lastname":{"description":"Last/sur name of the customer","type":"string","example":"Doe","uniqueItems":false},"attention":{"description":"Attention to use, for example if the e-mail address is shared between users","type":"string","example":"John Doe","uniqueItems":false},"address":{"description":"The address of the customer","type":"string","example":"Vasagatan 16","uniqueItems":false},"zip":{"description":"The ZIP code of the customers address","type":"string","example":"111 20","uniqueItems":false},"city":{"description":"The name of the city","type":"string","example":"Stockholm","uniqueItems":false},"country":{"description":"The name of the country","type":"string","example":"Sweden","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoicecustomer"},"EPay.Webservice.Models.V1.Common.invoiceline":{"properties":{"id":{"description":"The id or SKU of the product on the invoice line","type":"string","example":"Item01","uniqueItems":false},"linenumber":{"description":"The number of the invoice line","type":"string","example":"1","uniqueItems":false},"description":{"description":"A short description of the invoice line","type":"string","uniqueItems":false},"text":{"description":"A descriptive text of the invoice line","type":"string","uniqueItems":false},"quantity":{"description":"The quantity of the product in the invoice line","type":"number","format":"double","example":"3","uniqueItems":false},"unit":{"description":"The unit of the quantity","type":"string","example":"Kg","uniqueItems":false},"unitprice":{"description":"The price of one unit without VAT","type":"integer","format":"int32","example":"23","uniqueItems":false},"unitpriceinclvat":{"description":"The price of one unit including VAT","type":"integer","format":"int32","example":"30","uniqueItems":false},"unitpricevatamount":{"description":"The VAT of one unit","type":"integer","format":"int32","example":"7","uniqueItems":false},"totalprice":{"description":"The total price of all units including VAT. quantity * unitprice","type":"integer","format":"int32","example":"90","uniqueItems":false},"totalpriceinclvat":{"description":"The total price of all units without VAT. quantity * unitpriceinclvat","type":"integer","format":"int32","example":"69","uniqueItems":false},"totalpricevatamount":{"description":"The total VAT of all units. quantity * unitpricevatamount","type":"integer","format":"int32","example":"69","uniqueItems":false},"vat":{"description":"The VAT in percentages","type":"number","format":"double","example":"6","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoiceline"},"EPay.Webservice.Models.V1.Common.invoiceshippingaddress":{"properties":{"firstname":{"description":"Firstname of the receiver","type":"string","example":"Michael","uniqueItems":false},"lastname":{"description":"Lastname of the receiver","type":"string","example":"Jackson","uniqueItems":false},"attention":{"description":"Attention to the receiver","type":"string","example":"Michael Jackson","uniqueItems":false},"phonenumber":{"description":"Phone number to the receiver","type":"string","example":"+45 11 11 11 11","uniqueItems":false},"address":{"description":"The address of the customer","type":"string","example":"Test road 17","uniqueItems":false},"zip":{"description":"The ZIP code to the receiver adress","type":"string","example":"9000","uniqueItems":false},"city":{"description":"The name of the city","type":"string","example":"Aalborg","uniqueItems":false},"country":{"description":"The name of the country","type":"string","example":"Denmark","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoiceshippingaddress"},"EPay.Webservice.Models.V1.Common.invoicetotal":{"properties":{"amount":{"description":"The total amount without VAT","type":"integer","format":"int32","example":"123","uniqueItems":false},"amountinclvat":{"description":"The total amount with VAT","type":"integer","format":"int32","example":"130","uniqueItems":false},"vatamount":{"description":"The VAT of the total amount","type":"integer","format":"int32","example":"7","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoicetotal"},"EPay.Webservice.Models.V1.Common.language":{"required":["code"],"properties":{"code":{"description":"The ISO 3166-1 alpha-2 country code of the language to use","type":"string","example":"DK","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.language"},"EPay.Webservice.Models.V1.Common.merchantnumber":{"required":["status"],"properties":{"uniquereferencetimeout":{"description":"The timeout value of for how long OrderID is checked for uniqueness. Value in minutes","type":"integer","format":"int32","example":5,"uniqueItems":false},"md5key":{"description":"The secret key used for hashing the payment parameteres","type":"string","example":"65XdleUTkH4","uniqueItems":false},"status":{"description":"The merchant status (active/inactive)","type":"string","example":"active","uniqueItems":false},"failedcallbackemail":{"description":"E-mail address to notify if callback fails","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"countrycode":{"description":"The country iso code of the merchant (ISO 3166-1 alpha-3)","type":"string","example":"DNK","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.merchantnumber"},"EPay.Webservice.Models.V1.Common.paging":{"properties":{"lastevaluatedkey":{"description":"The last evaluated key. For next page set exclusivestartkey to this value","type":"string","uniqueItems":false},"itemsreturned":{"description":"Number of items returned in the list","type":"integer","format":"int64","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.paging"},"EPay.Webservice.Models.V1.Common.paymenttype":{"properties":{"id":{"description":"The ID of the payment type","type":"integer","format":"int32","example":6,"uniqueItems":false},"name":{"description":"The (system) name of the payment type","type":"string","example":"MASTERCARD","uniqueItems":false},"displayname":{"description":"The display name of the payment type","type":"string","example":"MasterCard (Debit / Domestic)","uniqueItems":false},"groupid":{"description":"The group ID of the payment type","type":"integer","format":"int32","example":3,"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.paymenttype"},"EPay.Webservice.Models.V1.Common.Request.Domain.adddomain":{"required":["domain"],"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.domain"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.Domain.adddomain"},"EPay.Webservice.Models.V1.Common.Request.Domain.Patch.domain":{"properties":{"name":{"type":"string","uniqueItems":false},"locked":{"type":"boolean","uniqueItems":false},"type":{"type":"string","uniqueItems":false},"status":{"type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.Domain.Patch.domain"},"EPay.Webservice.Models.V1.Common.Request.Domain.patchdomain":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Request.Domain.Patch.domain"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.Domain.patchdomain"},"EPay.Webservice.Models.V1.Common.Request.Domain.updatedomain":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.domain"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.Domain.updatedomain"},"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.Patch.merchantnumber":{"properties":{"uniquereferencetimeout":{"description":"The timeout value of for how long OrderID is checked for uniqueness. Value in minutes","type":"integer","format":"int32","example":5,"uniqueItems":false},"md5key":{"description":"The secret key used for hashing the payment parameteres","type":"string","example":"65XdleUTkH4","uniqueItems":false},"status":{"description":"The merchant status (active/inactive)","type":"string","example":"active","uniqueItems":false},"failedcallbackemail":{"description":"E-mail address to notify if callback fails","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"countrycode":{"description":"The country iso code of the merchant (ISO 3166-1 alpha-3)","type":"string","example":"DNK","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.Patch.merchantnumber"},"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.patchmerchantnumber":{"required":["merchantnumber"],"properties":{"merchantnumber":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Request.MerchantNumber.Patch.merchantnumber"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.patchmerchantnumber"},"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.updatemerchantnumber":{"required":["merchantnumber"],"properties":{"merchantnumber":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.merchantnumber"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.MerchantNumber.updatemerchantnumber"},"EPay.Webservice.Models.V1.Common.Response.action":{"properties":{"source":{"description":"Origin of the action code. If this begins with ePay the origin is ePay's system.","type":"string","example":"Nets","uniqueItems":false},"code":{"description":"The response code from the source","type":"string","uniqueItems":false},"type":{"description":"Type of the action code (e.g. generalerror)","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.action"},"EPay.Webservice.Models.V1.Common.Response.Domain.adddomainresponse":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.adddomainresponse"},"EPay.Webservice.Models.V1.Common.Response.Domain.deletedomainresponse":{"properties":{"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.deletedomainresponse"},"EPay.Webservice.Models.V1.Common.Response.Domain.domain":{"required":["name"],"properties":{"id":{"description":"Unique ID of the domain","type":"string","uniqueItems":false},"idvalue":{"type":"integer","format":"int64","uniqueItems":false},"name":{"description":"A DNS safe domain name","type":"string","example":"example.com","uniqueItems":false},"status":{"description":"Status of the domain","type":"string","example":"active","uniqueItems":false},"locked":{"description":"If the domain is locked it can't be edited","type":"boolean","example":"true","uniqueItems":false},"type":{"type":"string","example":"production","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"EPay.Webservice.Models.V1.Common.Response.Domain.getdomainresponse":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.getdomainresponse"},"EPay.Webservice.Models.V1.Common.Response.Domain.listdomainsresponse":{"properties":{"domains":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.listdomainsresponse"},"EPay.Webservice.Models.V1.Common.Response.Domain.patchdomainresponse":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.patchdomainresponse"},"EPay.Webservice.Models.V1.Common.Response.Domain.updatedomainresponse":{"properties":{"domain":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.Domain.domain"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.Domain.updatedomainresponse"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.deleteaccesstomerchantnumberresponse":{"properties":{"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.deleteaccesstomerchantnumberresponse"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.getmerchantnumberresponse":{"properties":{"merchantnumber":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.getmerchantnumberresponse"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.listmerchantnumbersresponse":{"properties":{"merchantnumbers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.listmerchantnumbersresponse"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber":{"required":["status"],"properties":{"number":{"type":"string","uniqueItems":false},"type":{"type":"string","uniqueItems":false},"uniquereferencetimeout":{"description":"The timeout value of for how long OrderID is checked for uniqueness. Value in minutes","type":"integer","format":"int32","example":5,"uniqueItems":false},"md5key":{"description":"The secret key used for hashing the payment parameteres","type":"string","example":"65XdleUTkH4","uniqueItems":false},"status":{"description":"The merchant status (active/inactive)","type":"string","example":"active","uniqueItems":false},"failedcallbackemail":{"description":"E-mail address to notify if callback fails","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"countrycode":{"description":"The country iso code of the merchant (ISO 3166-1 alpha-3)","type":"string","example":"DNK","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.patchmerchantnumberresponse":{"properties":{"merchantnumber":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.patchmerchantnumberresponse"},"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.updatemerchantnumberresponse":{"properties":{"merchantnumber":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.MerchantNumber.merchantnumber"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.MerchantNumber.updatemerchantnumberresponse"},"EPay.Webservice.Models.V1.Common.Response.message":{"properties":{"enduser":{"description":"Message to show the end user","type":"string","uniqueItems":false},"merchant":{"description":"Message to show the merchant. This may not be shown to the end user","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.message"},"EPay.Webservice.Models.V1.Common.Response.meta":{"properties":{"result":{"description":"Result of the request. True means success, false means error.","type":"boolean","uniqueItems":false},"message":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.message"},"action":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.action"},"paging":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.paging"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.meta"},"EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.listpaymenttypefeesresponse":{"properties":{"paymenttypefees":{"description":"A list of payment type fees.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.paymenttypefee"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.listpaymenttypefeesresponse"},"EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.paymenttypefee":{"required":["agreementid"],"properties":{"id":{"description":"The ID of the payment type fee","type":"string","example":"8395723862","uniqueItems":false},"merchantnumber":{"description":"The merchant number","type":"string","example":"P987654321","uniqueItems":false},"paymenttype":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.paymenttype"},"agreementid":{"description":"The agreement ID of the payment type fee","type":"string","example":"8395723862","uniqueItems":false},"agreementidvalue":{"type":"integer","format":"int64","uniqueItems":false},"feecalculatorname":{"description":"The name of the fee/surcharge calculator to use","type":"string","example":"PercentageWiseFee","uniqueItems":false},"feedata":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.feedata"},"order":{"description":"If more payment type fee items fullfill the requirements this order can be used to choose","type":"integer","format":"int32","example":1,"uniqueItems":false},"securitylevel":{"description":"The security level to use when using this payment type fee","type":"string","example":"Require3D","uniqueItems":false,"enum":["None","Require3D","Use3DIfPossible","Require3DUnlessDomestic","Use3DIfPossibleUnlessDomestic"]}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.PaymentTypeFee.paymenttypefee"},"EPay.Webservice.Models.V1.Common.Response.transactionoperation":{"properties":{"id":{"description":"Unique ID of the operation","type":"string","uniqueItems":false},"idvalue":{"type":"integer","format":"int64","uniqueItems":false},"parenttransactionoperationid":{"description":"Unique ID of the hierachical parent operation","type":"string","uniqueItems":false},"parenttransactionoperationidvalue":{"type":"integer","format":"int64","uniqueItems":false},"createddate":{"description":"Creation date","type":"string","example":"2009-06-15T13:45:30.000Z","uniqueItems":false},"amount":{"description":"The amount of this operation","type":"integer","format":"int32","uniqueItems":false},"currentbalance":{"description":"The current balance indicates the balance of the transaction","type":"integer","format":"int32","example":9995,"uniqueItems":false},"currency":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.currency"},"clientipaddress":{"description":"The IP address of the client/cardholder","type":"string","example":"127.0.0.1","uniqueItems":false},"status":{"description":"The status of the transaction operation","type":"string","example":"Approved","uniqueItems":false,"enum":["Pending","Waiting","Approved","Declined","Deleted","Locked","VerificationApproved","VerificationDeclined"]},"action":{"description":"The transaction operation action","type":"string","example":"Authorize","uniqueItems":false},"subaction":{"description":"The transaction operation sub-action","type":"string","example":"Ssl","uniqueItems":false},"actionbysystem":{"description":"Name of the system that performed the operation","type":"string","uniqueItems":false},"actioncode":{"description":"The response code (only unique when combined with actionsource)","type":"string","uniqueItems":false},"actionsource":{"description":"Source of the response code. The source can relate to both internal and external systems","type":"string","uniqueItems":false},"acquirername":{"description":"Name of the Acquirer used when performing the operation","type":"string","example":"Test","uniqueItems":false},"walletname":{"description":"Name of the Wallet used when performing the operation","type":"string","example":"MasterPass","uniqueItems":false},"paymenttypes":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.paymenttype"},"uniqueItems":false},"paymenttype":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.paymenttype"},"ecis":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.eci"},"uniqueItems":false},"eci":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.eci"},"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.apiuser"},"iscapturemulti":{"description":"Boolean indicating if multiple captures are possible","type":"boolean","example":true,"uniqueItems":false},"acquirerreference":{"description":"The reference the operation is known by by the acquirer","type":"string","example":"123456","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.transactionoperation"},"EPay.Webservice.Models.V1.Common.Response.WebUser.getwebuserresponse":{"properties":{"webuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.WebUser.webuser"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.WebUser.getwebuserresponse"},"EPay.Webservice.Models.V1.Common.Response.WebUser.listwebusersresponse":{"properties":{"webusers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.WebUser.webuser"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.WebUser.listwebusersresponse"},"EPay.Webservice.Models.V1.Common.Response.WebUser.webuser":{"properties":{"createddate":{"type":"string","uniqueItems":false},"accesstoken":{"description":"Unique access token of the web user","type":"string","example":"x39x3xfpmWkOyJ2rYtiHs","uniqueItems":false},"status":{"type":"string","uniqueItems":false},"lastlogindate":{"description":"The last login date","type":"string","example":"2016-08-12T15:26:34.322Z","uniqueItems":false},"lastchangedpassworddate":{"description":"Date when the password was last changed","type":"string","example":"2016-08-12T15:26:34.322Z","uniqueItems":false},"name":{"description":"The name of the webuser","type":"string","example":"John Doe","uniqueItems":false},"email":{"description":"The e-mail associated with the webuser","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"phone":{"description":"The phone number associated with the webuser","type":"string","example":"+46(0) 10 10 66 000","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.WebUser.webuser"},"EPay.Webservice.Models.V1.Merchant.apiuser":{"required":["email"],"properties":{"email":{"description":"E-mail of API user. We will contact this e-mail if any issues occur","type":"string","example":"contact@example.com","uniqueItems":false},"description":{"description":"Description of the API user","type":"string","example":"Magento","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.apiuser"},"EPay.Webservice.Models.V1.Merchant.fee":{"properties":{"id":{"description":"The payment type fee ID used to calculate fee amount","type":"string","example":4968250683,"uniqueItems":false},"amount":{"description":"The fee amount to authorize. Defined in minor units","type":"integer","format":"int32","example":555,"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.fee"},"EPay.Webservice.Models.V1.Merchant.invitation":{"required":["name","senderemail","recipientemail"],"properties":{"name":{"description":"The name of the invitation recipient.","type":"string","example":"Jane Doe","uniqueItems":false},"senderemail":{"description":"The e-mail address of the sender.","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"recipientemail":{"description":"The e-mail address of the recipient.","type":"string","example":"jane.doe@bambora.com","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.invitation"},"EPay.Webservice.Models.V1.Merchant.links":{"properties":{"transactionoperations":{"type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.links"},"EPay.Webservice.Models.V1.Merchant.paymentcollection":{"properties":{"id":{"description":"The payment collection ID","type":"integer","format":"int32","example":1,"uniqueItems":false},"paymentgroups":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.paymentgroup"},"uniqueItems":false},"name":{"description":"The payment collection (system) name","type":"string","example":"PAYMENTCARD","uniqueItems":false},"displayname":{"description":"The payment collection display name","type":"string","example":"Payment card","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.paymentcollection"},"EPay.Webservice.Models.V1.Merchant.paymentgroup":{"properties":{"id":{"description":"The payment group ID","type":"integer","format":"int32","example":3,"uniqueItems":false},"paymenttypes":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.paymenttype"},"uniqueItems":false},"name":{"description":"The payment group (system) name","type":"string","example":"MASTERCARD","uniqueItems":false},"displayname":{"description":"The payment group display name","type":"string","example":"MasterCard","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.paymentgroup"},"EPay.Webservice.Models.V1.Merchant.paymenttype":{"properties":{"fee":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.fee"},"id":{"description":"The ID of the payment type","type":"integer","format":"int32","example":6,"uniqueItems":false},"name":{"description":"The (system) name of the payment type","type":"string","example":"MASTERCARD","uniqueItems":false},"displayname":{"description":"The display name of the payment type","type":"string","example":"MasterCard (Debit / Domestic)","uniqueItems":false},"groupid":{"description":"The group ID of the payment type","type":"integer","format":"int32","example":3,"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.paymenttype"},"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.addapiuser":{"required":["apiuser"],"properties":{"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.apiuser"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.addapiuser"},"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.apiuser":{"required":["expiredate","status","email"],"properties":{"expiredate":{"description":"A date used to control when the API user expires","type":"string","example":"2016-05-10T14:27:01.122Z","uniqueItems":false},"dateexpiredate":{"type":"string","format":"date-time","uniqueItems":false},"status":{"description":"Status indicating whether the API user is active","type":"string","example":"Active","uniqueItems":false},"email":{"description":"E-mail of API user. We will contact this e-mail if any issues occur","type":"string","example":"contact@example.com","uniqueItems":false},"description":{"description":"Description of the API user","type":"string","example":"Magento","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.apiuser"},"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.updateapiuser":{"required":["apiuser"],"properties":{"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Request.ApiUser.apiuser"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.ApiUser.updateapiuser"},"EPay.Webservice.Models.V1.Merchant.Request.Invitation.addinvitation":{"required":["invitation"],"properties":{"invitation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.invitation"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.Invitation.addinvitation"},"EPay.Webservice.Models.V1.Merchant.Request.WebUser.addwebuser":{"required":["webuser"],"properties":{"webuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Request.WebUser.webuser"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.WebUser.addwebuser"},"EPay.Webservice.Models.V1.Merchant.Request.WebUser.webuser":{"required":["invitationid","password"],"properties":{"invitationid":{"description":"The unique id of the invitation","type":"string","example":"15487548139645284595","uniqueItems":false},"password":{"description":"Password for the webuser","type":"string","example":"x7!hJ#8vO%!_0k8C","uniqueItems":false},"name":{"description":"The name of the webuser","type":"string","example":"John Doe","uniqueItems":false},"email":{"description":"The e-mail associated with the webuser","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"phone":{"description":"The phone number associated with the webuser","type":"string","example":"+46(0) 10 10 66 000","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Request.WebUser.webuser"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.addapiuserresponse":{"properties":{"accesstoken":{"description":"The unique access token for the API user","type":"string","example":"aqM6ySJPvAYa676HAsJH","uniqueItems":false},"secrettoken":{"description":"The secret token of the created API user. This is only returned once so be sure to save it a secure place","type":"string","example":"JsTp5kZAgQgKMCXra669UbhVLRvpLwebRupG555U","uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.addapiuserresponse"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.apiuser":{"required":["email"],"properties":{"accesstoken":{"description":"Access token for the API user","type":"string","example":"x39x3xfpmWkOyJ2rYtiHs","uniqueItems":false},"createddate":{"description":"Created date for the API user","type":"string","example":"2016-06-18T12:55:10.000Z","uniqueItems":false},"expiredate":{"description":"Expire date for the API user","type":"string","example":"2016-06-18T12:55:10.000Z","uniqueItems":false},"merchantnumbers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.ApiUser.merchantnumber"},"uniqueItems":false},"status":{"description":"Status of the API user","type":"string","example":"Active","uniqueItems":false,"enum":["Active","Inactive","Temporary","Internal"]},"email":{"description":"E-mail of API user. We will contact this e-mail if any issues occur","type":"string","example":"contact@example.com","uniqueItems":false},"description":{"description":"Description of the API user","type":"string","example":"Magento","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.apiuser"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.getapiuserresponse":{"properties":{"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.ApiUser.apiuser"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.getapiuserresponse"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.listapiusersresponse":{"properties":{"apiusers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.ApiUser.apiuser"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.listapiusersresponse"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.merchantnumber":{"properties":{"number":{"description":"The merchant number","type":"string","example":"P987654321","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.merchantnumber"},"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.updateapiuserresponse":{"properties":{"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.ApiUser.apiuser"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.ApiUser.updateapiuserresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invitation.acceptinvitationresponse":{"properties":{"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invitation.acceptinvitationresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invitation.addinvitationresponse":{"properties":{"invitation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invitation.invitation"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invitation.addinvitationresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invitation.getinvitationresponse":{"properties":{"invitation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invitation.invitation"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invitation.getinvitationresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invitation.invitation":{"required":["name","senderemail","recipientemail"],"properties":{"id":{"description":"The ID of the invitation.","type":"string","example":"63a3ae8b150644038ac8b56e265743c7","uniqueItems":false},"createddate":{"description":"The creation date of the invitation in ISO 8601 format.","type":"string","example":"2009-06-15T13:45:30.0000000Z","uniqueItems":false},"accepteddate":{"description":"The date in ISO 8601 format when the invitation was accepted.","type":"string","example":"2009-06-15T13:45:30.0000000Z","uniqueItems":false},"status":{"description":"The status of the invitation.","type":"string","example":"Pending","uniqueItems":false,"enum":["Pending","Accepted"]},"usercreated":{"description":"Indicates whether the invited user has been created or not.","type":"boolean","example":"true","uniqueItems":false},"invitedbyaccesstoken":{"description":"Access token of the user who created the invitation.","type":"string","example":"yAFBCycAklu3Un0j8qXE","uniqueItems":false},"name":{"description":"The name of the invitation recipient.","type":"string","example":"Jane Doe","uniqueItems":false},"senderemail":{"description":"The e-mail address of the sender.","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"recipientemail":{"description":"The e-mail address of the recipient.","type":"string","example":"jane.doe@bambora.com","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invitation.invitation"},"EPay.Webservice.Models.V1.Merchant.Response.Invoice.getinvoiceresponse":{"properties":{"invoice":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invoice.merchantinvoiceresult"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invoice.getinvoiceresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invoice.listinvoicesresponse":{"properties":{"invoices":{"description":"A list of invoices and credit notes.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Invoice.merchantinvoiceresult"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invoice.listinvoicesresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Invoice.merchantinvoiceresult":{"properties":{"transactionoperationid":{"description":"The ID of the transaction operation associated with the invoice or credit note","type":"string","example":"21064806765021184","uniqueItems":false},"type":{"description":"The document type, e.g. an invoice or a credit note.","type":"string","example":"CreditNote","uniqueItems":false,"enum":["Unknown","Invoice","CreditNote"]},"currency":{"description":"The currency of the total and invoice lines","type":"string","example":"SEK","uniqueItems":false},"total":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoicetotal"},"lines":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceline"},"uniqueItems":false},"customer":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoicecustomer"},"shippingaddress":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceshippingaddress"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Invoice.merchantinvoiceresult"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentInformation.lindorffpaymentinformationresponse":{"properties":{"firstname":{"description":"First name of the person.","type":"string","example":"John","uniqueItems":false},"lastname":{"description":"Last name of the person.","type":"string","example":"Doe","uniqueItems":false},"address":{"description":"Address (streetname and number) of the person.","type":"string","example":"Mainstreet 22","uniqueItems":false},"zip":{"description":"Zip code of the address.","type":"string","example":"10100","uniqueItems":false},"city":{"description":"City of the address.","type":"string","example":"New City","uniqueItems":false},"country":{"description":"Country of the address.","type":"string","example":"Sweden","uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentInformation.lindorffpaymentinformationresponse"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluation":{"properties":{"version":{"description":"Version of the Lindorff customer evaluation.","type":"string","example":"SE1.0","uniqueItems":false},"partpaymentquestions":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestion"},"uniqueItems":false},"criteria":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluationcriterion"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluation"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluationcriterion":{"properties":{"firstoperand":{"description":"First operand of the evaluation criterion.","type":"string","example":"SwedishQuestion1","uniqueItems":false},"secondoperand":{"description":"Second operand of the evaluation criterion.","type":"string","example":"SwedishQuestion5","uniqueItems":false},"comparisonoperator":{"description":"Comparison operator used on the operands.","type":"string","example":"GreaterThanOrEqual","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluationcriterion"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.lindorffpaymentoptionsresponse":{"properties":{"languages":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.language"},"uniqueItems":false},"suggestedpaymentoptionid":{"description":"The ID of the payment option suggested by Lindorff.","type":"string","example":"b2252381-fbf3-48a4-8706-a67a010f6596","uniqueItems":false},"paymentoptions":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoption"},"uniqueItems":false},"customerevaluation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.customerevaluation"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.lindorffpaymentoptionsresponse"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestion":{"properties":{"id":{"description":"The ID of the part payment question.","type":"string","example":"SwedishQuestion1","uniqueItems":false},"text":{"description":"The text for the part payment question.","type":"string","example":"Monthly income before tax","uniqueItems":false},"tooltip":{"description":"The tooltip that can be shown for the part payment question.","type":"string","example":"Your average monthly income before tax has been payed.","uniqueItems":false},"preferredwidth":{"description":"Preferred width of the input field. Follows Bootstrap grid system with 12 column layout.","type":"integer","format":"int32","example":"6","uniqueItems":false},"placeholdertext":{"description":"Placeholder text that can be displayed in e.g. an input field.","type":"string","example":"Amount in SEK","uniqueItems":false},"unit":{"description":"The unit of the provided answer.","type":"string","example":"pcs.","uniqueItems":false},"range":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionrange"},"options":{"description":"Possible answer options for the part payment question. Either <range> or <options> is returned, not both.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionoption"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestion"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionoption":{"properties":{"id":{"description":"The ID of the question option.","type":"integer","format":"int32","example":"1","uniqueItems":false},"text":{"description":"The text for the question option.","type":"string","example":"Apartment","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionoption"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionrange":{"properties":{"min":{"description":"The minimum value of the range.","type":"integer","format":"int32","example":"1000","uniqueItems":false},"max":{"description":"The maximum value of the range.","type":"integer","format":"int32","example":"10000","uniqueItems":false},"increment":{"description":"Increments that the answer can be given in within the range.","type":"integer","format":"int32","example":"100","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.partpaymentquestionrange"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoption":{"properties":{"type":{"description":"The type of payment option.","type":"string","example":"PartPayment","uniqueItems":false},"currency":{"description":"The currency of the payment option as an ISO 4217 code.","type":"string","example":"SEK","uniqueItems":false},"paymentoptionid":{"description":"The ID of the payment option.","type":"string","example":"b2252381-fbf3-48a4-8706-a67a010f6596","uniqueItems":false},"distributionoptions":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.distribution"},"uniqueItems":false},"termsurl":{"description":"A URL linking to the Standardized European Customer Credit Information (SECCI) for the payment option.","type":"string","example":"https://www.example.com/terms-en.html","uniqueItems":false},"paymentdetails":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptiondetails"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoption"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptiondetails":{"properties":{"annualinterestpercentage":{"description":"The annual interest percentage.","type":"number","format":"double","example":"9.87","uniqueItems":false},"interestpercentage":{"description":"The interest percentage.","type":"number","format":"double","example":"8.65","uniqueItems":false},"monthlyfee":{"description":"The monthly fee, given as an amount in minor units.","type":"integer","format":"int32","example":"5000","uniqueItems":false},"arrangementfee":{"description":"The arrangement fee, given as an amount in minor units.","type":"integer","format":"int32","example":"15000","uniqueItems":false},"totalfee":{"description":"The total fee to be paid for the payment option, given as an amount in minor units.","type":"integer","format":"int32","example":"30000","uniqueItems":false},"totalinterest":{"description":"The total interest to be paid for the payment option, in minor units.","type":"integer","format":"int32","example":"4500","uniqueItems":false},"totalcapital":{"description":"The total capital to be paid for the payment option, in minor units.","type":"integer","format":"int32","example":"100000","uniqueItems":false},"totalamount":{"description":"Total amount to be paid if the payment option is selected, in minor units.","type":"integer","format":"int32","example":"145000","uniqueItems":false},"payments":{"description":"The individual payments for the payment option.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptionpayment"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptiondetails"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptionpayment":{"properties":{"paymentnumber":{"description":"The ordered number of the payment.","type":"integer","format":"int32","example":"1","uniqueItems":false},"invoicedate":{"description":"Creation date of the invoice for this payment.","type":"string","example":"18/10/2008","uniqueItems":false},"duedate":{"description":"Due date of the invoice for this payment.","type":"string","example":"22/10/2008","uniqueItems":false},"interest":{"description":"The interest to be paid on this payment, in minor units.","type":"integer","format":"int32","example":"1250","uniqueItems":false},"fee":{"description":"The fee to be paid on this payment, in minor units.","type":"integer","format":"int32","example":"1750","uniqueItems":false},"capital":{"description":"The capital to be paid on this payment, in minor units.","type":"integer","format":"int32","example":"35000","uniqueItems":false},"paymenttotal":{"description":"The total amount to be paid on this payment, in minor units.","type":"integer","format":"int32","example":"38000","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentOptions.paymentoptionpayment"},"EPay.Webservice.Models.V1.Merchant.Response.PaymentType.listpaymenttypesresponse":{"properties":{"paymentcollections":{"description":"A list of payment collections.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.paymentcollection"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.PaymentType.listpaymenttypesresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.acquirer":{"properties":{"name":{"description":"Name of the Acquirer","type":"string","example":"Test","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.acquirer"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.available":{"properties":{"capture":{"description":"Amount available for capture","type":"integer","format":"int32","uniqueItems":false},"credit":{"description":"Amount available for credit","type":"integer","format":"int32","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.available"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.eci":{"properties":{"value":{"description":"The ECI value","type":"string","example":"7","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.eci"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.gettransactionresponse":{"properties":{"transaction":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.transaction"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.gettransactionresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.information":{"properties":{"paymenttypes":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.paymenttype"},"uniqueItems":false},"primaryaccountnumbers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.primaryaccountnumber"},"uniqueItems":false},"acquirers":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.acquirer"},"uniqueItems":false},"wallets":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.wallet"},"uniqueItems":false},"ecis":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.eci"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.information"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.listtransactionsresponse":{"properties":{"transactions":{"description":"List of transactions.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.transaction"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.listtransactionsresponse"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.paymenttype":{"properties":{"id":{"description":"The ID of the payment type","type":"integer","format":"int32","example":6,"uniqueItems":false},"groupid":{"description":"The group ID of the payment type","type":"integer","format":"int32","example":3,"uniqueItems":false},"displayname":{"description":"The display name of the payment type","type":"string","example":"MasterCard (Debit / Domestic)","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.paymenttype"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.primaryaccountnumber":{"properties":{"number":{"description":"The Primary Account Number for this transaction. This value can be trunctaed card number, mobile number, token in 3. party system and so on","type":"string","example":"457150XXXXXX1234","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.primaryaccountnumber"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.subscription":{"properties":{"id":{"description":"The ID of the subscription the transaction was made from","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.subscription"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.total":{"properties":{"authorized":{"description":"Total authorized amount","type":"integer","format":"int32","uniqueItems":false},"captured":{"description":"Total captured amount","type":"integer","format":"int32","uniqueItems":false},"credited":{"description":"Total credited amount","type":"integer","format":"int32","uniqueItems":false},"feeamount":{"description":"Total fee amount","type":"integer","format":"int32","uniqueItems":false},"balance":{"description":"Total balance","type":"integer","format":"int32","uniqueItems":false},"declined":{"description":"Total declined amount","type":"integer","format":"int32","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.total"},"EPay.Webservice.Models.V1.Merchant.Response.Transaction.wallet":{"properties":{"name":{"description":"Name of the Wallet","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.Transaction.wallet"},"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.eci":{"properties":{"value":{"description":"The ECI value","type":"string","example":"7","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.eci"},"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.gettransactionoperationresponse":{"properties":{"transactionoperation":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.transactionoperation"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.gettransactionoperationresponse"},"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.listtransactionoperationsresponse":{"properties":{"transactionoperations":{"description":"List of operations performed on the transaction.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.transactionoperation"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.listtransactionoperationsresponse"},"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.paymenttype":{"properties":{"id":{"description":"ID of the payment type","type":"integer","format":"int32","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.paymenttype"},"EPay.Webservice.Models.V1.Merchant.Response.WebUser.addwebuserresponse":{"properties":{"webuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.WebUser.webuser"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.WebUser.addwebuserresponse"},"EPay.Webservice.Models.V1.Merchant.Response.WebUser.webuser":{"properties":{"email":{"description":"The users e-mail address.","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"name":{"description":"The users name.","type":"string","example":"John Doe","uniqueItems":false},"phone":{"description":"The phone number for the user.","type":"string","example":"+46(0) 10 10 66 000","uniqueItems":false},"accesstoken":{"description":"Unique access token of the web user.","type":"string","example":"x39x3xfpmWkOyJ2rYtiHs","uniqueItems":false},"status":{"description":"Status of the web user.","type":"string","example":"Active","uniqueItems":false,"enum":["Active","Deleted"]}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.Response.WebUser.webuser"},"EPay.Webservice.Models.V1.Merchant.transaction":{"properties":{"id":{"description":"Unique ID of the transaction","type":"string","example":"21064806765021184","uniqueItems":false},"currency":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.currency"},"orderid":{"description":"The order ID. Often the same as the order ID in the shop system","type":"string","uniqueItems":false},"merchantnumber":{"description":"The merchant number","type":"string","example":"P987654321","uniqueItems":false},"createddate":{"description":"The date the transaction was created","type":"string","uniqueItems":false},"available":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.available"},"total":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.total"},"links":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.links"},"candelete":{"description":"If the transaction can be deleted","type":"boolean","uniqueItems":false},"status":{"description":"The status of the transaction","type":"string","example":"Approved","uniqueItems":false,"enum":["Pending","Waiting","Approved","Declined","Deleted","Locked","VerificationApproved","VerificationDeclined"]},"reference":{"description":"A 12 digit reference for the transaction","type":"string","uniqueItems":false},"information":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.information"},"subscription":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.Transaction.subscription"}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.transaction"},"EPay.Webservice.Models.V1.Merchant.transactionoperation":{"properties":{"id":{"description":"Unique ID of the operation","type":"string","uniqueItems":false},"idvalue":{"type":"integer","format":"int64","uniqueItems":false},"parenttransactionoperationid":{"description":"Unique ID of the hierachical parent operation","type":"string","uniqueItems":false},"parenttransactionoperationidvalue":{"type":"integer","format":"int64","uniqueItems":false},"createddate":{"description":"Creation date","type":"string","example":"2009-06-15T13:45:30.000Z","uniqueItems":false},"amount":{"description":"The amount of this operation","type":"integer","format":"int32","uniqueItems":false},"currentbalance":{"description":"The current balance indicates the balance of the transaction","type":"integer","format":"int32","example":9995,"uniqueItems":false},"currency":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.currency"},"clientipaddress":{"description":"The IP address of the client/cardholder","type":"string","example":"127.0.0.1","uniqueItems":false},"status":{"description":"The status of the transaction operation","type":"string","example":"Approved","uniqueItems":false,"enum":["Pending","Waiting","Approved","Declined","Deleted","Locked","VerificationApproved","VerificationDeclined"]},"transactionoperations":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.transactionoperation"},"uniqueItems":false},"action":{"description":"The transaction operation action","type":"string","example":"Authorize","uniqueItems":false},"subaction":{"description":"The transaction operation sub-action","type":"string","example":"Ssl","uniqueItems":false},"actionbysystem":{"description":"Name of the system that performed the operation","type":"string","uniqueItems":false},"actioncode":{"description":"The response code (only unique when combined with actionsource)","type":"string","uniqueItems":false},"actionsource":{"description":"Source of the response code. The source can relate to both internal and external systems","type":"string","uniqueItems":false},"acquirername":{"description":"Name of the Acquirer used when performing the operation","type":"string","example":"Test","uniqueItems":false},"walletname":{"description":"Name of the Wallet used when performing the operation","type":"string","example":"MasterPass","uniqueItems":false},"paymenttype":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.paymenttype"},"eci":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.Response.TransactionOperation.eci"},"apiuser":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Merchant.apiuser"},"iscapturemulti":{"description":"Boolean indicating if multiple captures are possible","type":"boolean","example":true,"uniqueItems":false},"acquirerreference":{"description":"The reference the operation is known by by the acquirer","type":"string","example":"123456","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Merchant.transactionoperation"}}}