{"swagger":"2.0","info":{"version":"1.1.29.0"},"host":"transaction-v1.api.epay.eu:443","schemes":["https"],"paths":{"/transactions/{transactionid}/capture":{"post":{"summary":"Capture transaction","description":"Capture a transaction by its ID. Optionally, authorize operation IDs can be provided to specifically capture on those authorizations. Likewise, invoice lines can be provided to reflect a partial invoice capture.","operationId":"EPay.Webservice.Transaction.V1.TransactionService.capture","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"ID of the transaction to capture","required":true,"type":"string"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Request.capture"}}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Response.captureresponse"}}}}},"/transactions/{transactionid}/credit":{"post":{"summary":"Credit transaction","description":"Credit a transaction by its ID. Optionally, capture operation IDs can be provided to specifically credit on those capture operations. Likewise, invoice lines can be provided to reflect a partial credit note.","operationId":"EPay.Webservice.Transaction.V1.TransactionService.credit","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"ID of the transaction to credit.","required":true,"type":"string"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Request.credit"}}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Response.creditresponse"}}}}},"/transactions/{transactionid}/delete":{"post":{"summary":"Delete transaction","description":"Delete a transaction by its ID. Optionally, authorization IDs can be provided to specifically delete those authorizations. Note: A transaction or any of its authorizations can only be deleted if it has not been captured.","operationId":"EPay.Webservice.Transaction.V1.TransactionService.delete","consumes":["application/json","application/xml"],"produces":["application/json","application/xml"],"parameters":[{"name":"transactionid","in":"path","description":"ID of the transaction to delete.","required":true,"type":"string"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Request.delete"}}],"responses":{"default":{"description":"not available","schema":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.Response.deleteresponse"}}}}}},"definitions":{"EPay.Webservice.Models.V1.Common.invoicecustomer":{"properties":{"emailaddress":{"description":"The customers e-mail","type":"string","example":"john.doe@bambora.com","uniqueItems":false},"phonenumber":{"description":"The customers phone number","type":"string","example":"+46(0) 10 10 66 000","uniqueItems":false},"firstname":{"description":"First name of the customer","type":"string","example":"John","uniqueItems":false},"lastname":{"description":"Last/sur name of the customer","type":"string","example":"Doe","uniqueItems":false},"attention":{"description":"Attention to use, for example if the e-mail address is shared between users","type":"string","example":"John Doe","uniqueItems":false},"address":{"description":"The address of the customer","type":"string","example":"Vasagatan 16","uniqueItems":false},"zip":{"description":"The ZIP code of the customers address","type":"string","example":"111 20","uniqueItems":false},"city":{"description":"The name of the city","type":"string","example":"Stockholm","uniqueItems":false},"country":{"description":"The name of the country","type":"string","example":"Sweden","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoicecustomer"},"EPay.Webservice.Models.V1.Common.invoiceline":{"properties":{"id":{"description":"The id or SKU of the product on the invoice line","type":"string","example":"Item01","uniqueItems":false},"linenumber":{"description":"The number of the invoice line","type":"string","example":"1","uniqueItems":false},"description":{"description":"A short description of the invoice line","type":"string","uniqueItems":false},"text":{"description":"A descriptive text of the invoice line","type":"string","uniqueItems":false},"quantity":{"description":"The quantity of the product in the invoice line","type":"number","format":"double","example":"3","uniqueItems":false},"unit":{"description":"The unit of the quantity","type":"string","example":"Kg","uniqueItems":false},"unitprice":{"description":"The price of one unit without VAT","type":"integer","format":"int32","example":"23","uniqueItems":false},"unitpriceinclvat":{"description":"The price of one unit including VAT","type":"integer","format":"int32","example":"30","uniqueItems":false},"unitpricevatamount":{"description":"The VAT of one unit","type":"integer","format":"int32","example":"7","uniqueItems":false},"totalprice":{"description":"The total price of all units including VAT. quantity * unitprice","type":"integer","format":"int32","example":"90","uniqueItems":false},"totalpriceinclvat":{"description":"The total price of all units without VAT. quantity * unitpriceinclvat","type":"integer","format":"int32","example":"69","uniqueItems":false},"totalpricevatamount":{"description":"The total VAT of all units. quantity * unitpricevatamount","type":"integer","format":"int32","example":"69","uniqueItems":false},"vat":{"description":"The VAT in percentages","type":"number","format":"double","example":"6","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoiceline"},"EPay.Webservice.Models.V1.Common.invoiceresult":{"properties":{"type":{"description":"The document type, e.g. an invoice or a credit note.","type":"string","example":"CreditNote","uniqueItems":false,"enum":["Unknown","Invoice","CreditNote"]},"currency":{"description":"The currency of the total and invoice lines","type":"string","example":"SEK","uniqueItems":false},"total":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoicetotal"},"lines":{"type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceline"},"uniqueItems":false},"customer":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoicecustomer"},"shippingaddress":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceshippingaddress"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoiceresult"},"EPay.Webservice.Models.V1.Common.invoiceshippingaddress":{"properties":{"firstname":{"description":"Firstname of the receiver","type":"string","example":"Michael","uniqueItems":false},"lastname":{"description":"Lastname of the receiver","type":"string","example":"Jackson","uniqueItems":false},"attention":{"description":"Attention to the receiver","type":"string","example":"Michael Jackson","uniqueItems":false},"phonenumber":{"description":"Phone number to the receiver","type":"string","example":"+45 11 11 11 11","uniqueItems":false},"address":{"description":"The address of the customer","type":"string","example":"Test road 17","uniqueItems":false},"zip":{"description":"The ZIP code to the receiver adress","type":"string","example":"9000","uniqueItems":false},"city":{"description":"The name of the city","type":"string","example":"Aalborg","uniqueItems":false},"country":{"description":"The name of the country","type":"string","example":"Denmark","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoiceshippingaddress"},"EPay.Webservice.Models.V1.Common.invoicetotal":{"properties":{"amount":{"description":"The total amount without VAT","type":"integer","format":"int32","example":"123","uniqueItems":false},"amountinclvat":{"description":"The total amount with VAT","type":"integer","format":"int32","example":"130","uniqueItems":false},"vatamount":{"description":"The VAT of the total amount","type":"integer","format":"int32","example":"7","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.invoicetotal"},"EPay.Webservice.Models.V1.Common.paging":{"properties":{"lastevaluatedkey":{"description":"The last evaluated key. For next page set exclusivestartkey to this value","type":"string","uniqueItems":false},"itemsreturned":{"description":"Number of items returned in the list","type":"integer","format":"int64","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.paging"},"EPay.Webservice.Models.V1.Common.Request.optionalauthorizationtransactionoperations":{"properties":{"id":{"type":"string","uniqueItems":false},"idvalue":{"type":"integer","format":"int64","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.optionalauthorizationtransactionoperations"},"EPay.Webservice.Models.V1.Common.Request.optionalcapturetransactionoperations":{"properties":{"id":{"type":"string","uniqueItems":false},"idvalue":{"type":"integer","format":"int64","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Request.optionalcapturetransactionoperations"},"EPay.Webservice.Models.V1.Common.Response.action":{"properties":{"source":{"description":"Origin of the action code. If this begins with ePay the origin is ePay's system.","type":"string","example":"Nets","uniqueItems":false},"code":{"description":"The response code from the source","type":"string","uniqueItems":false},"type":{"description":"Type of the action code (e.g. generalerror)","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.action"},"EPay.Webservice.Models.V1.Common.Response.message":{"properties":{"enduser":{"description":"Message to show the end user","type":"string","uniqueItems":false},"merchant":{"description":"Message to show the merchant. This may not be shown to the end user","type":"string","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.message"},"EPay.Webservice.Models.V1.Common.Response.meta":{"properties":{"result":{"description":"Result of the request. True means success, false means error.","type":"boolean","uniqueItems":false},"message":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.message"},"action":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.action"},"paging":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.paging"}},"type":"object","format":"EPay.Webservice.Models.V1.Common.Response.meta"},"EPay.Webservice.Models.V1.Transaction.Request.capture":{"properties":{"amount":{"description":"The amount to capture. Defined in minor units. If omitted the remaining amount will be captured","type":"integer","format":"int32","example":9995,"uniqueItems":false},"currency":{"description":"The currency of the amount. Can either ISO 3166-1 numeric or ISO 3166-1 alpha-3 string. If omitted the same currency as while authorizing will be used","type":"string","example":"DKK","uniqueItems":false},"optionalauthorizationtransactionoperations":{"description":"Specify the authorization operation(s) to capture.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Request.optionalauthorizationtransactionoperations"},"uniqueItems":false},"invoicelines":{"description":"Info about the captured invoice lines","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceline"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Request.capture"},"EPay.Webservice.Models.V1.Transaction.Request.credit":{"required":["amount"],"properties":{"amount":{"description":"The amount to credit. Defined in minor units. If omitted the full amount will be credites","type":"integer","format":"int32","example":9995,"uniqueItems":false},"currency":{"description":"The currency of the amount. Can either be anumber or 3 char string. If omitted the same currency as while authorizing will be used","type":"string","example":"DKK","uniqueItems":false},"optionalcapturetransactionoperations":{"description":"Specify the capture operation(s) to credit.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Request.optionalcapturetransactionoperations"},"uniqueItems":false},"invoicelines":{"description":"Info about the credited invoice lines","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceline"},"uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Request.credit"},"EPay.Webservice.Models.V1.Transaction.Request.delete":{"properties":{"optionalauthorizationtransactionoperations":{"description":"Specify the authorization operation(s) to delete.","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Request.optionalauthorizationtransactionoperations"},"uniqueItems":false},"deletetype":{"description":"The type of deletion to be made","type":"string","example":"Instant","uniqueItems":false,"enum":["AgreementDefault","Delay","Instant"]},"delayeduntilafterdate":{"description":"The date after which the transaction must be deleted. The date format is: yyyyMMdd","type":"string","example":"20160712","uniqueItems":false},"datetimedelayeduntilafter":{"description":"The date after which the transaction must be deleted.","type":"string","format":"date-time","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Request.delete"},"EPay.Webservice.Models.V1.Transaction.Response.captureresponse":{"properties":{"transactionoperations":{"description":"List of operations performed on the transaction","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.transactionoperations"},"uniqueItems":false},"invoice":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceresult"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Response.captureresponse"},"EPay.Webservice.Models.V1.Transaction.Response.creditresponse":{"properties":{"transactionoperations":{"description":"List of operations performed on the transaction","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.transactionoperations"},"uniqueItems":false},"creditnote":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.invoiceresult"},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Response.creditresponse"},"EPay.Webservice.Models.V1.Transaction.Response.deleteresponse":{"properties":{"transactionoperations":{"description":"List of operations performed on the transaction","type":"array","items":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Transaction.transactionoperations"},"uniqueItems":false},"meta":{"$ref":"#/definitions/EPay.Webservice.Models.V1.Common.Response.meta"}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.Response.deleteresponse"},"EPay.Webservice.Models.V1.Transaction.transactionoperations":{"properties":{"id":{"description":"The id of the transaction operations performed","type":"string","example":"25506297014116353","uniqueItems":false}},"type":"object","format":"EPay.Webservice.Models.V1.Transaction.transactionoperations"}}}