.container {
    width           : 100%;
    height          : 378px;
    background      : rgb(30, 30, 30);
    margin-top      : 50px;
    padding         : 75px 125px;
    color           : rgba(255,255,255,0.45);
    font-size       : 12px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    align-items     : center;
}

.linkGroups {
    composes        : pageWidth from "../main.scss";
    display         : flex;
    justify-content : space-between;
}

.linkGroup {
    display        : flex;
    flex-direction : column;

    a {
        color           : white;
        text-decoration : none;
        font-size       : 18px;
    }
}

.copyright {
    width           : 400px;
    display         : flex;
    justify-content : center;
}